@import "tailwindcss";

/* src/fonts.css ya src/App.css */
@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('./fonts/Poppins SemiBold 600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}



html {
  scroll-behavior: smooth;
}

body{
  background: #F3F4F6;
  /* font-family: 'PoppinsSemiBold', sans-serif; */
}

.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
::-webkit-scrollbar { display: none; }


@layer utilities {
  .animate-scroll-right-to-left {
    animation: scroll-rtl 5s linear infinite;
  }

  @keyframes scroll-rtl {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-25%);
    }
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
